{#
/**
 * @file
 * Footer component for Escalade Sports D7 recreation.
 *
 * D7 Requirements:
 * - Blue background (#0A4C97)
 * - footer-inner centered (75% width)
 * - footer-left region (2/3 width)
 * - footer-right region (1/3 width)
 * - Links styled (#878E83)
 * - Copyright attribution
 * - Suggest button styled
 *
 * Variables:
 * - page.footer: Full footer blocks
 * - page.footer_left: Left footer column (2/3)
 * - page.footer_right: Right footer column (1/3)
 * - site_name: Site name
 */
#}

<div class="footer-wrapper">

  <div id="footer-inner" class="clearfix">

    {# Footer Blocks #}
    {% if page.footer %}
      <div id="footer-full" class="clearfix">
        {{ page.footer }}
      </div>
    {% endif %}

    {# Footer Columns - 2/3 Left, 1/3 Right #}
    {% if page.footer_left or page.footer_right %}
      <div id="footer-columns" class="clearfix">
        
        {# Footer Left - 2/3 width #}
        {% if page.footer_left %}
          <div id="footer-left">
            {{ page.footer_left }}
          </div>
        {% endif %}

        {# Footer Right - 1/3 width #}
        {% if page.footer_right %}
          <div id="footer-right">
            {{ page.footer_right }}
          </div>
        {% endif %}
        
      </div>
    {% endif %}

    {# Copyright Attribution #}
    <p class="attribute-creator">
      &copy; {{ 'now'|date('Y') }} Escalade Sports. All Rights Reserved.
    </p>

  </div>
</div>
